/*
Colors used

Text Color (Black): #2b2b2b;
Primary Color (Dark Green): #357b70;
Secondary Color (Bisque/Pink): #DEBBAB;
Tertiary Color (Brown): #916753;
 */

/* STYLES */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Spectral', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 38px;
  font-weight: 500;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

a {
  color: #357b70;
}

a:visited {
  color: #916753;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #ffc0cb;
}

svg {
  margin: 0 auto;
  width: 100%;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

input.value {
  color: #808080;
}

.page-header {
  display: flex;
  width: 95%;
  padding: 15px;
}

.page-header__item {
  flex: 0 0 10px;
}

.page-header__item:last-child {
  flex-grow: 1;
  flex-shrink: 3;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 5px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.profile__item {
  flex: 0 1 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 20px;
  border-radius: 50%;
}

.about {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.skills-list {
  list-style-type: none;
}

.work {
  width: 100%;
  padding: 20px;
}

.contact {
  width: 100%;
  padding: 20px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 25%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: #d3d3d3;
    width: auto;
    min-height: auto;
    justify-content: center;
  }

  .grid__item:last-child {
    grid-column: 4 / 4;
    grid-row: 1 / 4;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
  }

  p,
  li,
  a {
    font-size: 12px;
  }

  .page-header {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .profile {
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-start;
  }

  .profile__item:last-child {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  p,
  li,
  a {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
